---
server:
  http_listen_port: 28080
  grpc_listen_port: 0

positions:
  filename: {{ promtail_directory }}/positions.yaml

clients:
  - url: {{ promtail_loki_url }}

scrape_configs:
  - job_name: {{ promtail_job_name }}
    pipeline_stages:
      - regex:
          expression: '(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}[,]\d{3}) (?P<level>[A-Z]{4,8})  \[.*?\]( \(.*?\))? (?P<code>[A-Z0-9]*): '
      - labels:
          level:
          code:
      - timestamp:
          source: timestamp
          format: '2006-01-02 15:04:05,000'
      - multiline:
          firstline: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}[,]\d{3}'
          max_wait_time: 3s
    static_configs:
      - targets:
          - localhost
        labels:
          job: {{ promtail_job_name }}
          __path__: {{ promtail_logfile }}
          region: {{ promtail_region }}
          host: {{ promtail_host }}
